<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Hidden Genius Project Trains and mentors black male youth in technology creation,
  entrepreneurship, and leadership skills to transform their lives and communities
</p>
<p>
  learn more at the <a href="https://www.hiddengeniusproject.org">website</a>
</p>
